
<nav class="navbar navbar-expand navbar-dark bg-dark ">

  <div>
      <a routerLink="" class="navbar-brand">Faces Canada</a>
  </div>

  <ul class="navbar-nav ">
  <li routerLinkActive="active" *ngIf="this.userService.isAdminLoggedIn() && this.userService.isUserLoggedIn()"><a routerLink="/adminhome" class="nav-link">Dashboard</a></li>
   <li routerLinkActive="active" *ngIf="this.userService.isUserLoggedIn() && !this.userService.isAdminLoggedIn()"><a routerLink="/userhome" class="nav-link">Dashboard</a></li>
            <li routerLinkActive="active" *ngIf="this.userService.isAdminLoggedIn()"><a routerLink="userslist"  class="nav-link">Users List</a></li>
            <li routerLinkActive="active"><a routerLink="/productdetail"  *ngIf="this.userService.isUserLoggedIn() && !this.userService.isAdminLoggedIn()" class="nav-link">Product</a></li>
			<li routerLinkActive="active"><a routerLink="product/productlist" *ngIf="this.userService.isUserLoggedIn() && this.userService.isAdminLoggedIn()" class="nav-link">Product</a></li>
            <li routerLinkActive="active" ><a routerLink="orderlist"  *ngIf="this.userService.isUserLoggedIn() && this.userService.isAdminLoggedIn()" class="nav-link">Orders</a></li>
        </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
            <li routerLinkActive="active"><a routerLink="/signup" class="nav-link" *ngIf="!this.userService.isUserLoggedIn() && !this.userService.isAdminLoggedIn()">Signup</a></li>
            <li routerLinkActive="active"><a routerLink="/login" class="nav-link" *ngIf="!this.userService.isUserLoggedIn() && !this.userService.isAdminLoggedIn()">Login</a></li>
            
                
                    <li><a class="nav-link font1" routerLink="/profile" *ngIf="this.userService.isUserLoggedIn() || this.userService.isAdminLoggedIn()">My Profile</a></li>
                    <li><a class="nav-link font1" routerLink="/myorder" *ngIf="this.userService.isUserLoggedIn() && !this.userService.isAdminLoggedIn()">My Order</a></li>
                    <li><a class="nav-link font1" (click)="logout()"  routerLink="logout" *ngIf="this.userService.isUserLoggedIn() || this.userService.isAdminLoggedIn()">Logout</a></li>
        

        </ul>
</nav>
