
<nav class="navbar navbar-expand navbar-dark bg-dark ">

  <div>
      <a routerLink="" class="navbar-brand">Faces Canada</a>
  </div>

  <ul class="navbar-nav ">
      <li routerLinkActive="active"><a routerLink="/home" class="nav-link">Home</a></li>
      
  </ul>

  <ul class="navbar-nav navbar-collapse justify-content-end">
      <!-- <li routerLinkActive="active"><a routerLink="/signup" class="nav-link" >signup</a></li> -->
      <!-- <li routerLinkActive="active"><a routerLink="/login" class="nav-link" *ngIf="!this.userHttpService.isUserLoggedIn()">Login</a></li> -->
      <li class="nav-item dropdown  font1">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" ><i class="fa fa-dashboard" aria-hidden="true"></i>
             Dashboard
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item nav-link font1" routerLink="">My Order List</a></li>
              <li><a class="dropdown-item nav-link font1" routerLink="">Approved Order  </a></li>
              <li><a class="dropdown-item nav-link font1" routerLink="">Rejected Order</a></li>
              <li><a class="dropdown-item nav-link font1"  routerLink="">Logout</a></li>
          </ul>
      </li>

  </ul>


  <ul class="navbar-nav navbar-collapse justify-content-end">
      <li routerLinkActive="active"><a routerLink="/signup" class="nav-link" *ngIf="!isLoggedIn" ><span class="glyphicon glyphicon-user"></span>  Signup</a></li>
      <li routerLinkActive="active"><a routerLink="/login" class="nav-link" *ngIf="!isLoggedIn" ><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
	  <li routerLinkActive="active"><a routerLink="userslist" class="nav-link"*ngIf="isLoggedIn">Users List</a></li>
     
              <li><a class="dropdown-item nav-link font1" routerLink="/profile">My Profile</a></li>
              <li><a class="dropdown-item nav-link font1"  routerLink="logout">Logout</a></li>
          
      

  </ul>
</nav>
