<br>
<div class="container"><h1>Add product</h1>
 <br>
  <div class="card card-container">
   
	<form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="name">Product Name</label>
		<br>
		<br>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="20"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Product Name is required</div>
          <div *ngIf="name.errors.minlength">
            Product Name must be at least 3 characters
          </div>
          <div *ngIf="name.errors.maxlength">
            Product Name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Product Image</label>
		<br>
		<br>
        <input
          type="text"
          class="form-control"
          name="image"
          [(ngModel)]="form.image"
          required
          #image="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && image.invalid">
          <div *ngIf="image.errors.required">Image is required</div>
          <div *ngIf="image.errors.email">
            Image must be a valid
          </div>
        </div>
      </div>
	  <div class="form-group">
        <label for="price">Product Price</label>
		<br>
		<br>
        <input
          type="text"
          class="form-control"
          name="price"
          [(ngModel)]="form.price"
          required
          minlength="3"
          maxlength="20"
          #price="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && price.invalid">
          <div *ngIf="price.errors.required">Product Price is required</div>
          <div *ngIf="price.errors.minlength">
            Product Price must be at least 3 characters
          </div>
          <div *ngIf="price.errors.maxlength">
            Product Price must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Product Description</label>
		<br>
		<br>
        <input
          type="description"
          class="form-control"
          name="description"
          [(ngModel)]="form.description"
          required
          minlength="6"
          #description="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && description.invalid">
          <div *ngIf="description.errors.required">description is required</div>
          <div *ngIf="description.errors.minlength">
            description must be at least 6 characters
          </div>
        </div>
      </div>
	  
      <div class="form-group">
        <button class="btn btn-primary">Add Product</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
        Add Product failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Product Added Succesfully!!
    </div>
  </div>
</div>
