
<br>
<br>
<br>
<br>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">Productname</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
			<th scope="col">Description</th>
			<th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.image }}</td>
            <td>{{ product.price }}</td>
			<td>{{ product.description }}</td>
			<td><button class="btn btn-info" [routerLink]="['/placeorder',product.id]">Place Order</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>