<div class="card bg-light text-dark"
  style="width:600px;">
  <div class="card-body">
    <h4 style="text-align: center;">Change Password</h4>
    <hr>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your Password is changed!
    </div>

    <div class="alert alert-warning" *ngIf="isFailed">
      Please Enter currect old password!<br />
    </div>

    <form
      name="form"
      (ngSubmit)="changePasswordForm.form.valid && onChangePassword()"
      #changePasswordForm="ngForm"
      novalidate
    >

      <div class="form-group">
        <label for="Password">New Password</label>
        <input
          type="password"
          class="form-control"
          name="Password"
          [(ngModel)]="form.password"
          placeholder="Enter your new password"
          pattern="^.*(?=.{6,})(?=..*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$"
          required
          #Password="ngModel"
        >
        <span class="help-block" *ngIf="Password.errors?.required && Password.touched">
          Password is required</span>
        <span class="help-block" *ngIf="Password.errors?.pattern && Password.touched">
          Password should have at least 6 character with lowercase and Uppercase alphabet,digit and special character Ex. Abc@123</span>
      </div>

      <button class="btn btn-info">
        Change password</button>
    </form>

  </div>
</div>
