<div class="row" *ngIf="currentUser; else loggedOut">
    <div class="col-sm-4">
      <h5>
        Username : {{ currentUser.username }}
      </h5>
   
      <h5>
       Email : {{ currentUser.email }}
      </h5>
    <button class="btn btn-info" (click)="onEdit()">Edit Profile</button><br/><br/>
	<button class="btn btn-info" (click)="onChangePassword()">Change Password</button><br/><br/>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
</div> 
<ng-template #loggedOut>
    Please login.
</ng-template>