<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="A complete landing page solution for any business">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="assets/img/favicon/favicon.ico">
	<title>SignUp Page</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
	<link rel="stylesheet" href="assets/vendor/strokegap/style.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/css/bundle.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="top">
	<section data-dark-overlay="5" class="u-py-100 u-h-100vh u-flex-center" style="background:url(assets/img/about/hero.jpg) no-repeat;background-size:cover;background-position:top center">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 m-auto text-center">
					<div class="card box-shadow-v2 bg-light-white u-of-hidden">
						<h2 class="bg-purple-light m-0 py-3 text-white">REGISTER</h2>
						<div class="p-4 p-md-5">
							<form (ngSubmit)="onSubmit()" #userForm="ngForm">
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
									<div class="input-group-addon bg-white border-0 pl-4 ">
										<span class="icon icon-User text-primary"></span>
									</div>
									 <input type="text" [(ngModel)]="user.firstName" 
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter your first name"
        pattern="^[a-zA-Z]{2,}$"
        required
        #firstName="ngModel">
		<span class="help-block" *ngIf="firstName.errors?.required && firstName.touched">
          First Name is required</span>
        <span class="help-block" *ngIf="firstName.errors?.pattern && firstName.touched">
          First Name should only contain alphabets with atleast 2 characters</span>
								</div>
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
									<div class="input-group-addon bg-white border-0 pl-4 ">
										<span class="icon icon-Mail text-primary"></span>
									</div>
									 <input type="text" [(ngModel)]="user.lastName" 
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter your last name"
          pattern="^[a-zA-Z]{2,}$"
          required
          #lastName="ngModel">
          <span class="help-block" *ngIf="lastName.errors?.required && lastName.touched">
            Last Name is required</span>
          <span class="help-block" *ngIf="lastName.errors?.pattern && lastName.touched">
            Last Name should only contain alphabets with atleast 2 characters</span>
								</div>
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
									<div class="input-group-addon bg-white border-0 pl-4 ">
										<span class="icon icon-ClosedLock text-primary"></span>
									</div>
									<input type="email" [(ngModel)]="user.email" 
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email address"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
        #email="ngModel">
        <span class="help-block" *ngIf="email.errors?.required && email.touched">
          Email is required</span>
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
          Not Valid!!</span>
								</div>
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
									<div class="input-group-addon bg-white border-0 pl-4 ">
										<span class="icon icon-ClosedLock text-primary"></span>
									</div>
									 <input type="password" [(ngModel)]="user.password" 
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter your password"
          pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%&?@]).*$"
          required
          #password="ngModel">
          <span class="help-block" *ngIf="password.errors?.required && password.touched">
            Password is required</span>
          <span class="help-block" *ngIf="password.errors?.pattern && password.touched">
            Password should be of atleast 8 characters with lowercase and atleast one uppercase alphabet,digit and special character</span>
								</div>
								<button type="submit" [disabled]="!userForm.form.valid" 
      class="btn btn-primary">Submit</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="scroll-top bg-white box-shadow-v1">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
	<script src="assets/js/bundle.js"></script>
	<script src="assets/js/devdap.js"></script>
</body>

</html>