<div class="jumbotron text-xs-center container">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">You are successfully <strong>Logout</strong>
    </p>
    <hr>
    <p>
        Having trouble? <a routerLink="/contactUs">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" routerLink="/login" role="button">Continue to homepage</a>
    </p>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js'></script>