<form class="container" [formGroup]="orderlist" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-9" style="height: max-content;">
                <select formControlName="list" class="form-control" aria-selected="true" aria-placeholder="All">
                    <option>Orders</option>
                    <option>Approved order Count</option>
                    <option>Rejected order Count</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pull-left">

                <button type="submit" class="btn btn-info">Order List</button>
            </div>
        </div>

    </div>

</form>
<div>
Total orders: {{ orderDetail.length }}
</div>
